@model ClubEquitation.Models.Activite

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lieu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lieu.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Professeur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Professeur.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
