@model IEnumerable<ClubEquitation.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h2>Liste des réservations</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date) de réservation
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbPersonne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activite)
            </th>

            <th>
                Date de l'activité
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbPersonne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activite.Nom)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Activite.Date)
            </td>
            <td>
                @if (item.EstActive)
                {

                    <a asp-action="Edit" asp-route-id="@item.Id">Annuler</a> 
}
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
